body{
    margin: 0%;
    padding: 0%;
}
.container_alto{
 height: 25vh;
 width: 100%;
 background-color: burlywood;
}

.pesquisa{
    height: 50%;
    width: 70%;
    background-color: azure;
    margin-left: ;

}

.container{
    height: 80vh;
    width: 100%;
    background-color: rgb(255, 1, 1) ;
    display: flex;
    justify-content: space-between;
}

.aba_opcoes{
    height: 85%;
    width: 25%;
    background-color: aqua;
    margin-left: 3%;
    margin-top: 2%;
}

.feed{
    height: 85%;
    width: 68%;
    background-color: rgb(0, 0, 0);
    margin-right: 2%;
    margin-top: 2%;
}

.pesquisa{
 
}